@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url(img1.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppings", sans-serif;
    margin: 0;    
}


h1{
    font-size: 4rem;
    font-weight: normal;
    margin-top: 5rem;
    

}
.countdown-container{
    align-items: center;
    justify-content: center;
    width: 400px;
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 3px;
    overflow:hidden;
  
}

.countdown-el{
    float: left;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 110vh;
    margin: 2%;
}

.countdown-el h3{
    border: solid white 2px;
    border-radius: 3px;
    background-color: aliceblue;
    width:20rem;
    text-align: center;
    display: flex;
}
.countdown-el img{
    height: 40rem;
    object-fit: fill;
}
